<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
    <!--Informações da Matriz-->
    <!--<add key="matriz.contato_email" value="contato@pousadaebenezer.com.br" />-->
    <add key="matriz.contato_email" value="contato@ebenezervillage.com" />
    <add key="matriz.contato_telefone" value="(84) 3525 2490" />
    <add key="matriz.contato_celular" value="(84) 9429 0635" />
    <add key="matriz.endereco" value="Rodovia RN 227, KM07 - Polo Industrial, Guamaré/RN - CEP: 59598-000" />
    <add key="matriz.tipos_apto" value="Single Luxe|120,0||Casal Luxe|165,00||Single Standard|90,00||Double Standard|130,00||Triple Standard|165,00||" />

    <!--Informações da Filial-->
    <!--<add key="filial.contato_email" value="ebenezer.filial@gmail.com" />-->
    <add key="filial.contato_email" value="contato.filial@ebenezervillage.com" />
    <add key="filial.contato_telefone" value="(84) 3525 2449" />
    <add key="filial.contato_celular" value="(84) 3525 2449" />
    <add key="filial.endereco" value="Rua 7 de Setembro, 23 - Centro, Guamaré/RN - CEP: 59598-000" />
    <add key="filial.tipos_apto" value="Single Standard|120,00||Double Standard|145,00||" />
</appSettings>