@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Selecione a Unidade";
}

        <h3 class="welcome-msg">Bem-vindo!</h3>
        <h3 class="welcome-text">Selecione a unidade desejada:</h3>

        <div class="left-content" style="width: 474px; padding-right: 36px;">
            <a href="~/Matriz/home">
                <img class="image-box shaded" src="~/Images/sel-matriz.jpg" alt="Ebenezer Village Matriz (Polo Industrial)"
                        title="Ebenezer Village Matriz (Polo Industrial)" style="width: 100%;" />
            </a>
        </div>

        <div class="right-content" style="width: 470px; padding-right: 0;">
            <a href="~/Filial/home">
                <img class="image-box shaded" src="~/Images/sel-filial.jpg" alt="Ebenezer Village Filial (Centro)"
                        title="Ebenezer Village Filial (Centro)" style="width: 100%;" />
            </a>
        </div>