<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="mailSettings">
            <section name="smtp_matriz_contato" requirePermission ="false" type="System.Net.Configuration.SmtpSection"/>
            <section name="smtp_matriz_reservas" requirePermission ="false" type="System.Net.Configuration.SmtpSection"/>
            <section name="smtp_filial_contato" requirePermission ="false" type="System.Net.Configuration.SmtpSection"/>
            <section name="smtp_filial_reservas" requirePermission ="false" type="System.Net.Configuration.SmtpSection"/>
        </sectionGroup>
    </configSections>

    <appSettings configSource="AppSettings.config" />

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="Off" />
    </system.web>

	<mailSettings>
		<smtp_matriz_contato>
			<network host="envio02.redehost.com.br" password="Contato@1" userName="contato@ebenezervillage.com" />
		</smtp_matriz_contato>
		<smtp_matriz_reservas>
			<network host="envio02.redehost.com.br" password="Reservas@1" userName="reservas@ebenezervillage.com" />
		</smtp_matriz_reservas>
		<smtp_filial_contato>
			<network host="envio02.redehost.com.br" password="Contato@2" userName="contato.filial@ebenezervillage.com" />
		</smtp_filial_contato>
		<smtp_filial_reservas>
			<network host="envio02.redehost.com.br" password="Reservas@2" userName="reservas.filial@ebenezervillage.com" />
		</smtp_filial_reservas>
	</mailSettings>

</configuration>