@using Br.Com.EbenezerVillage.Aplicacao.Auxiliares;

@{
    Layout = "~/Matriz/_SiteLayout.cshtml";
    Page.Title = "Localização";
    Page.ID = Constantes.id_localizacao;
}

<div class="content-panel shaded">
    <div class="content-title">
        <h3>Localiza&ccedil;&atilde;o</h3>
    </div>

    <div class="pos-left">
        <iframe width="520" height="370" style="border-style: none; margin: 0 auto; z-index: 2"
                src="https://maps.google.com.br/maps?f=d&amp;source=s_d&amp;saddr=Natal+-+Rio+Grande+do+Norte&amp;daddr=RN-401&amp;hl=pt&amp;
                geocode=FVKVp_8dN7nm_SmLUEwU_v-yBzEYGFb_2N674A%3BFRy3sf8ddgXV_Q&amp;aq=0&amp;oq=Nata&amp;sll=-5.130468,-36.371082&amp;
                sspn=0.028852,0.052314&amp;t=h&amp;mra=prev&amp;ie=UTF8&amp;ll=-5.46563,-35.848389&amp;spn=1.011602,1.425476&amp;z=9&amp;output=embed">
        </iframe>
        <br />
        <small>
            <a href="https://maps.google.com.br/maps?f=d&amp;source=embed&amp;saddr=Natal+-+Rio+Grande+do+Norte&amp;daddr=RN-401&amp;hl=pt&amp;
               geocode=FVKVp_8dN7nm_SmLUEwU_v-yBzEYGFb_2N674A%3BFRy3sf8ddgXV_Q&amp;aq=0&amp;oq=Nata&amp;sll=-5.130468,-36.371082&amp;
               sspn=0.028852,0.052314&amp;t=h&amp;mra=prev&amp;ie=UTF8&amp;ll=-5.46563,-35.848389&amp;spn=1.011602,1.425476&amp;z=9" style="text-align:left"
               target="_blank">Veja o mapa ampliado</a>
        </small>
    </div>

    <p>A <strong>Ebenezer Village</strong> est&aacute; a apenas 170 km de Natal, a capital espacial do pa&iacute;s, uma terra aben&ccedil;oada pela natureza e 
        onde se curte o ver&atilde;o o ano inteiro.</p>
    <p>Para sair da capital Natal rumo &agrave; Guamar&eacute;, o acesso &eacute; a BR 406 seguindo at&eacute; o Distrito de Baixa do Meio, 
        onde entra-se &agrave; direita e segue-se a Rodovia RN 227 que termina no Munic&iacute;pio de Guamar&eacute;.</p>
    <p>Localizada na Regi&atilde;o do Litoral Salineiro, Guamar&eacute; limita-se: ao Norte com o Oceano Atl&acirc;ntico, ao Sul com o 
        Munic&iacute;pio de Pedro Avelino, a leste com o Munic&iacute;pio de Galinhos e a Oeste com o Munic&iacute;pio de Macau.</p>

    <div class="clear"></div>
</div>