@using Br.Com.EbenezerVillage.Aplicacao.Auxiliares;

@{
    Layout = "~/Matriz/_SiteLayout.cshtml";
    Page.Title = "A Pousada";
    Page.ID = Constantes.id_pousada;
}

@* GALERIA DE IMAGENS *@
<script src="~/Scripts/gallery-definitions.js" type="text/javascript"></script>

<div class="content-panel shaded">
    <div class="content-title">
        <h3>Ebenezer Village (Matriz)</h3>
    </div>

    <div class="left-content" style="width: 420px; padding-right: 30px;">
        <div class="highslide-gallery">            <a href="/Images/Gallery/Matriz/pousada01.jpg" class="highslide highslide-first" onclick="return hs.expand(this)">
	            <img class="image-box shaded" src="/Images/Gallery/Matriz/pousada01.jpg" alt="Tranquilidade e sofisticação em um só lugar."
                     title="Clique para ampliar" />
            </a>

            <a href="/Images/Gallery/Matriz/pousada11.jpg" class="highslide" onclick="return hs.expand(this)">
	            <img class="image-box shaded" src="/Images/Gallery/Matriz/pousada11.thumb.jpg" alt="Uma infraestrutura de lazer completa para toda 
                     a família." title="Clique para ampliar" />
            </a>

            <a href="/Images/Gallery/Matriz/pousada05.jpg" class="highslide" onclick="return hs.expand(this)">
	            <img class="image-box shaded" src="/Images/Gallery/Matriz/pousada05.thumb.jpg" alt="Conforto, segurança e comodidade."
                     title="Clique para ampliar" />
            </a>

            <a href="/Images/Gallery/Matriz/pousada04.jpg" class="highslide" onclick="return hs.expand(this)">
	            <img class="image-box shaded" src="/Images/Gallery/Matriz/pousada04.thumb.jpg" alt="Um lugar aconchegante e acessível, 
                     com serviços de excelência para acomodá-lo da melhor maneira possível." title="Clique para ampliar" />
            </a>
        </div>
    </div>

    <div class="right-content" style="width: 520px;">
        <p>Localizada no Polo Industrial de Guamaré/RN, a <strong>Ebenezer Village</strong> dispõe de uma infraestrutura completa para quem busca 
            lazer em família ou viaja a negócios.</p>
            
        <p>Nossa estrutura oferece apartamentos novos e completos em estilo flat, estacionamento privativo e uma ampla área de lazer, que inclui piscinas adulto 
            e infantil com hidromassagem e cascata, churrasqueira, bar, campo de futebol, salão de jogos e sala de estar com sistema de TV SKY.</p>

        <p>Tudo isso e muitos outros serviços de excelência feitos para lhe surpreender.</p>
        
        <p>Venha desfrutar de todo o conforto, espaço e segurança que a pousada <strong>Ebenezer Village</strong> tem a oferecer aos seus hóspedes.</p>
    </div>

    <div class="clear"></div>
</div>