
    <div class="content-title">
        <h3>Guamaré/RN</h3>
    </div>

    <h4>Histórico</h4>
    
    <div class="pos-right">
        <img class="image-box shaded" src="~/Images/Gallery/guamare02.jpg" alt="Vista aérea de Guamaré"
             style="margin-right: 2px; margin-top: 7px; width: 280px;" />
    </div>

    <p>O nome "Guamaré" surgiu da junção das palavras "água" e "maré", por esta se tratar de uma região localizada entre as marés dos rios Aratuá e Miassaba, 
        dentro da microrregião de Macau, na Central Potiguar. A região recebeu a presença do homem branco nos idos de 1605, quando o capitão Pero Coelho aqui 
        aportou com sua esposa, filhos e um grupo de soldados, sobreviventes de uma tentativa frustrada de colonizar o Ceará. Salvaram-se da fome comendo Aratú 
        cru e bebendo água fresca em Água-Maré, arranchados junto a cacimba d’água.</p>
 
    <p>No ano de 1783 o português Francisco dos Santos, residente em Caiçara, construiu a Capela de Nossa Senhora da Conceição, em gratidão por ter conseguido 
        salvar-se, juntamente com sua tripulação, de uma tempestade em alto mar, aportando em Guamaré.</p>

    <p>Guamaré já pertenceu ao Município de Açu, passando para Angicos em 1833, época em que tinha cerca de 201 moradores adultos. Em 1847 foi incluída no 
        território de Macau, onde permaneceu mesmo após a restauração de Angicos em 1850.</p>
    
    <div class="pos-left">
        <img class="image-box shaded" src="~/Images/Gallery/guamare03.jpg" alt="Região cercada por rios"
             style="margin-right: 10px; margin-top: 7px; width: 250px;" />
    </div>

    <p>Em 06 de setembro de 1837, os moradores de Guamaré enviaram à Assembléia Legislativa uma petição pleiteando a criação da Villa Imperial de Guamaré e 
        respectiva freguesia. A Comissão defensora argumentava que existiam "boas estradas" e que Guamaré era o ponto da província onde mais existiam armadilhas 
        de pescarias e tinha um porto onde entravam barcos e canoas grandes da costa, carregadas com "todo o perciso para o bom passadio dos habitantes". As 
        Comissões de Estatística, Justiça Civil e Criminal da Assembléia, em 15 de outubro de 1838, deram parecer contrário, alegando que se tratava de uma região 
        despovoada, com exceção da povoação. Mas a tão sonhada Emancipação de Guamaré tornou-se realidade em 07 de maio de 1962, através da Lei nº 2.744, quando 
        foi desmembrada de Macau, tornando-se um novo Município do Rio Grande do Norte.</p>

    <h4>População</h4>
    <p>Cerca de 9.500 habitantes.</p>

    <h4>Limites</h4>
    <p>Localizada na Região do Litoral Salineiro, Guamaré limita-se ao norte com o Oceano Atlântico, a sul com o município de Pedro Avelino, a leste com o município 
        de Galinhos e a oeste com o Município de Macau.</p>
    
    <div class="pos-right">
        <img class="image-box shaded" src="~/Images/Gallery/guamare09.jpg" alt="Crianças brincando no rio"
             style="margin-right: 2px; margin-top: 7px; width: 230px;" />
    </div>

    <h4>Aspectos Físicos</h4>
    <p>
        <strong>Área:</strong> 278,6 Km²<br />
        <strong>Altitude:</strong> Entre um a dois metros em relação ao nível do mar<br />
        <strong>Temperatura:</strong> A média anual é de 28 a 29°C
    </p>

    <h4>Hidrografia</h4>
    <p>Guamaré tem a sua Sede banhada pelos Rios Aratuá, Miassaba e Camurupim, mas possui praias banhadas pelo oceano Atlântico. Possui ainda as ilhas Presídio 
        (oceânica e fluvial), Casqueira (fluvial) e Ema (fluvial).</p>

    <h4>Flora</h4>
    <p>A área litorânea é rodeada de belos manguezais e no interior prevalece a caatinga.</p>

    <h4>Acesso Rodoviário</h4>
    <p>Para sair da Capital rumo à Guamaré, o acesso é pela BR 406 seguindo até o Distrito de Baixa do Meio, onde entra-se à direita e segue-se pela Rodovia 
        RN 227. Quem deseja ir de Guamaré ao município de Macau deve seguir pela Rodovia RN 227, que liga Guamaré à BR 406, na entrada de Macau. Porém, quem 
        desejar ir ao município do Alto do Rodrigues, saindo de Guamaré, deve trafegar pela Rodovia RN 227, cruzando a BR 406 e seguindo a estrada do oleoduto 
        da Petrobras (mais conhecida como a estrada do óleo).</p>

    <div class="pos-left">
        <img class="image-box shaded" src="~/Images/Gallery/guamare04.jpg" alt="Porto de Guamaré"
             style="margin-right: 10px; margin-top: 7px; width: 280px;" />
    </div>

    <h4>Acesso Marítimo</h4>
    <p>Guamaré é um porto marítimo por natureza. Através de seus rios Aratuá, Miassaba e Camurupim, navegáveis, Guamaré recebe embarcações de pequeno e médio 
        porte, como: canoas, barcos à vela, barcos a motor e lanchas. Guamaré é frequentemente utilizada como porto pela Petrobras, para embarque e desembarque 
        de passageiros e cargas para as plataformas de petróleo. O passeio turístico pelo mar é realizado tanto para a praia do Presídio como para o município 
        de Galinhos através do Trapiche, local de embarque e desembarque de passageiros para passeios turísticos.</p>

    <h4>Economia</h4>
    <p>A economia do município de Guamaré sempre esteve baseada na pesca e na extração de sal. Porém com a descoberta do petróleo em seu litoral em 1975, quando 
        foi perfurado o primeiro poço na Plataforma de Ubarana 06 (PUB I), iniciou-se uma nova fase econômica na cidade. A extração teve início em 16/06/1976, 
        quando eram retirados 83m³/dia. A presença da <strong>Petrobras</strong> em Guamaré foi fator considerável para seu desenvolvimento. Para o Polo Industrial 
        converge todo o óleo e gás produzidos na Plataforma Continental do RN e grande parte da produção terrestre. Atualmente a Petrobras mantém uma unidade de 
        processamento de gás natural e uma planta de produção de diesel. O Polo de Guamaré abastece o RN e parte dos estados próximos com esses dois combustíveis 
        e gás de cozinha.</p>

    <div class="pos-right">
        <img class="image-box shaded" src="~/Images/Gallery/guamare08.jpg" alt="Paisagem da caatinga"
             style="margin-right: 2px; margin-top: 7px; width: 280px;" />
    </div>

    <p>Ainda no Polo de Guamaré está a Estação de Compressores de Ubarana – ECUB. Nesta Estação, o gás é recebido, tratado e enviado através do gasoduto Nordestão 
        para a cidade pernambucana de Cabo, alguns distritos industriais do RN, da Paraíba e de Pernambuco. A Petrobras ainda está desenvolvendo a instalação de 
        uma planta de produção de querosene de aviação, como também a produção de gasolina automotiva.</p>

    <p><strong>A Agricultura</strong> é basicamente de subsistência, mas o município voltou a plantar algodão e hoje os Assentamentos desenvolvem a plantação de 
        hortas e frutas.</p>

    <p><strong>A Pecuária</strong> é desenvolvida de forma restrita, sem expressividade, porém destacando-se na criação de ovinos e caprinos.</p>
    <p><strong>A Pesca</strong> ainda é uma atividade movimentada em Guamaré. Com o apoio da Colônia de Pescadores, o pescado abastece não só o município de 
        Guamaré, como também é vendido para outros municípios. Há abundância de mariscos, siris e caranguejos nos rios de Guamaré.</p>
    
    <div class="pos-left">
        <img class="image-box shaded" src="~/Images/Gallery/guamare10.jpg" alt="Porto de Guamaré"
             style="margin-right: 10px; margin-top: 7px; width: 300px;" />
    </div>

    <p><strong>A Carcinicultura</strong> também é uma atividade em pleno desenvolvimento, tendo em vista que as antigas salinas estão sendo vendidas ou arrendadas 
        para projetos de criação de camarões em cativeiro (viveiros), onde encontram-se instalados cerca de doze projetos em funcionamento no Município (ano 2000).</p>
    <p><strong>O Comércio</strong> é representado por pequenos supermercados, mercearias e feira livre. Quanto aos <strong>Serviços</strong>, Guamaré dispõe de 
        alguns restaurantes, lanchonetes, bares, sorveterias e algumas pousadas e pequenos hotéis, com tendência à expansão, tendo em vista que o Turismo vem 
        desenvolvendo essa tendência. No que diz respeito à vida noturna, apenas uma discoteca abre nos fins de semana, embora alguns bares na orla marítima 
        funcionem para lazer.</p>

    <h4>Calendário Turístico</h4>
    <p><strong>Janeiro – Festa de São Sebastião</strong><br />
        Festa de São Sebastião é realizada no distrito de Baixa do Meio, onde o Santo é padroeiro. Ocorre no dia 20 de janeiro e tem uma semana de Festividades, 
        com solenidades religiosas e eventos culturais com apresentação de bandas.</p>

    <div class="pos-right">
        <img class="image-box shaded" src="~/Images/Gallery/guamare06.jpg" alt="Paisagem da caatinga"
             style="margin-right: 2px; margin-top: 7px; width: 300px;" />
    </div>

    <p><strong>Janeiro / Fevereiro - Verão Vivo</strong><br />
        O Verão Vivo ocorre entre os meses de janeiro e fevereiro, durante as quatro semanas que antecedem o Carnaval, com jogos de Praia e shows musicais.</p>

    <p><strong>Fevereiro / Março - Carnaval</strong><br />
        O Carnaval de rua é um ponto forte em Guamaré, com desfile de blocos pelas ruas da cidade, o tradicional Mela-Mela e o Carnaval Kids, especialmente para 
        as crianças.</p>

    <p><strong>Março - Festa de São José</strong><br />
        A Festa de São José ocorre no distrito de Lagoa Doce, do qual é padroeiro, no dia 19 de março. Trata-se de uma semana de festividades com diversas atrações 
        culturais.</p>

    <p><strong>Março / Abril - Paixão de Cristo</strong><br />
        A encenação do Drama da Paixão de Cristo em praça pública já faz parte do calendário turístico da região.</p>

    <p><strong>Maio – Emancipação Política & Coroação de Nossa Senhora</strong><br />
        No mês de Maio, especialmente no dia 07, é comemorada a data de Emancipação Política do Município.<br />
        A Igreja Católica mantém as festividades em homenagem à Nossa Senhora, encerrando no dia 31, com a Coroação de Nossa Senhora, atraindo muitos fiéis.</p>

    <p><strong>Junho - São João</strong><br />
        As festas juninas também são comemoradas em Guamaré (na Sede), principalmente com as quadrilhas jovens dos colégios locais. Nos Distritos, onde são 
        tradicionais as quadrilhas e os forrós, os festejos esquentam ainda mais.</p>

    <div class="pos-left">
        <img class="image-box shaded" src="~/Images/Gallery/guamare05.jpg" alt="Porto de Guamaré"
             style="margin-right: 10px; margin-top: 7px; width: 300px;" />
    </div>

    <p><strong>Julho - Vaquejada</strong><br />
        As Vaquejadas no município de Guamaré são realizadas no distrito de Mangue Seco, na segunda quinzena de julho, atraindo sempre um grande número de pessoas 
        que, além dos torneios, vão para prestigiar shows musicais com grandes bandas.</p>
 
    <p><strong>Agosto - Nossa Senhora dos Navegantes</strong><br />
        Por ser um porto marítimo, Guamaré tem Nossa Senhora dos Navegantes (padroeira dos pescadores), como sua protetora. Sua festa tradicional é realizada sempre 
        no último final de semana do mês de agosto. É uma solenidade que atrai pessoas de vários municípios, culminando com a procissão marítima pelos Rios Aratuá 
        e Miassaba.</p>

    <p><strong>Outubro - Nossa Senhora Aparecida & Criação do Distrito de Baixa do Meio</strong><br />
        No dia 12 de outubro é realizada a Festa de Nossa Senhora Aparecida, padroeira do distrito de Salina da Cruz, com uma semana de festividades religiosas e 
        atrações culturais.<br />
        No dia 26 de outubro é comemorado o dia da criação do distrito de Baixa do Meio, com muitas atrações culturais e bandas.</p>

    <p><strong>Dezembro - Festa da Nossa Senhora da Conceição & Natal</strong><br />
        8 de dezembro é o dia da padroeira de Guamaré, Nossa Senhora da Conceição, comemorado com uma semana de intensas festividades. A população da cidade e dos 
        municípios vizinhos faz desta data um grande acontecimento.<br />
        Na semana do natal, a população de Guamaré e dos distritos próximos conta com a apresentação do espetáculo do "Nascimento do Menino Jesus" pelo grupo de 
        teatro "Instituto Sócio-cultural de Guamaré".</p>

    <h4>Cultura</h4>
    <div class="pos-right">
        <img class="image-box shaded" src="~/Images/Gallery/guamare12.jpg" alt="Crianças brincando no rio"
             style="margin-right: 2px; margin-top: 7px; width: 210px;" />
    </div>

    <p>A Cultura local segue a tradição das cidades litorâneas potiguares. As antigas bordadeiras e rendeiras, assim como os pescadores que constroem redes e 
        armadilhas de pesca ainda fazem o Artesanato de Guamaré. O Folclore foi se perdendo ao longo do tempo, mas hoje vem sendo resgatado na juventude através 
        das escolas. As danças comuns eram: Lapinha, Pastoril, Boi de Reis, Côco de Roda, Xaxado, quadrilhas. Os bailes nas casas de famílias eram geralmente 
        tocados por um sanfoneiro, tocador de cavaquinho, realejo e acompanhados com pandeiros e bombos. Dançavam casais, crianças, idosos, todos com muito respeito. 
        A iluminação era com candeeiro, lamparina com querosene e, posteriormente, lâmpada a gás. A iluminação pública só passou a existir no ano de 1958, através 
        de um motor de moer sal que fornecia energia para as duas ruas principais, que ficavam acesas apenas das seis horas da tarde até as nove da noite. Os 
        fogões eram acesos com lenha ou carvão. O uso do gás de cozinha só chegou aos moradores no final da década de 60.</p>
	
    <h4>Religião</h4>
    <p>Quase todas as famílias de Guamaré eram católicas. Tudo girava em torno da igreja. Os eventos eram sempre nas comemorações religiosas. Os padres vinham de 
        Macau, porém não eram freqüentes. Os casamentos, batizados e outras recepções geralmente eram em grupo, marcados numa data comum. A igreja era rígida com 
        os fiéis. Existiam as novenas tanto na igreja, quanto nas casas das famílias. As festas da padroeira eram complementadas com barracas em volta da igreja, 
        com quermesses, leilões e muitas doações. Havia muita devoção.</p>
    <p>A primeira família Evangélica de Guamaré é a do senhor Cícero Preto, que iniciou o culto em sua casa e, posteriormente, promoveu um movimento evangélico 
        que muito contribuiu para formação da sociedade guamareense.</p>
    <p>Os espíritas kardecistas são poucos e quase não há divulgação desse movimento. Os adeptos do candomblé também existem em pequenos grupos, mas existem 
        terreiros em movimento.</p>

    <h4>Literatura</h4>
    <p>Quanto à Literatura, Guamaré já conta com pelo menos três livros editados:</p>
    <ul class="simple-list">
        <li>"Minhas Recordações" - Luiza Cavalcante de Miranda</li>
        <li>"Asas de Um Ideal" – Iruvane Galvão de Miranda</li>
        <li>"Pontes Infinitas" – Iruvane Galvão</li>
    </ul>
 
    <h4>Esporte</h4>
    <p>O Esporte em Guamaré movimenta jovens e adultos. Na praia Aratuá acontece todos os anos (duas vezes por ano), o Campeonato de Futebol de Praia, com apoio 
        da Prefeitura Municipal. Ainda na Praia Aratuá ocorrem campeonatos de Fut-vôlei e Vôlei de Praia, Natação, Regatas, Corridas Rústicas, Ciclismos, entre 
        outros. Mas o Esporte também é destaque nos colégios, onde os times locais já alcançaram títulos de campeões nos Jogos Estudantis do Rio Grande do 
        Norte – JERNS. Alguns grupos de Capoeira e de Makulelê existem em Guamaré e na Baixa do Meio.</p>

    <div class="pos-left">
        <img class="image-box shaded" src="~/Images/Gallery/guamare07.jpg" alt="Porto de Guamaré"
             style="margin-right: 10px; margin-top: 7px; width: 325px;" />
    </div>

    <h4>Pontos Turísticos</h4>
    <p>Guamaré tem uma grande beleza natural. Cercada de dunas, praias, marés e mangues, a natureza é um grande diferencial para o Turismo. Uma das áreas que mais 
        tem crescido na cidade é o Turismo de Negócios, graças ao Polo Industrial da Petrobras, responsável pela chegada de muitos técnicos que aqui passam 
        grande período de suas vidas. O Turismo Náutico é outra possibilidade, pelo fato da região estar situada entre rios tranqüilos, o que proporciona belos 
        passeios.</p>
    <p>O Turismo Ecológico pode ser realizado pelos manguezais e dunas, onde existe uma fauna e flora preservada, que pode ser apresentada ao turista como atrativo.
        O Turismo Esportivo tem foco no passeio de lanchas, pesca e mergulho. O Turismo Religioso se faz presente nas festas dos padroeiros da sede e dos 
        distritos, além da Paixão de Cristo.</p>

    @*<h4>Prefeitos</h4>
    <p>João Batista do Carmo, Luiz Virgílio de Brito, Vicente de Brito Miranda, Francisco Teixeira Nunes, Moisés Nunes de Carvalho, João Pedro Filho, José da 
        Silva Câmara, João Pedro Filho, João Pedro Filho, Francisco de Assis Silva Santos, Antônio Carlos da Silva, José da Silva Câmara e Hélio Willamy de 
        Miranda da Fonseca.</p>*@
