<div class="content-title">
    <h3>Email Enviado</h3>
</div>

<p class="pos-center"><strong>Obrigado por enviar seu e-mail.<br />
    Aguarde, em breve entraremos em contato.</strong></p>

<div class="pos-center"><img src="~/Content/images/send-mail.png" alt="E-mail enviado" style="height: 120px; width: 120px;" /></div>

<br />