@using Br.Com.EbenezerVillage.Aplicacao.Auxiliares;

@{
    Layout = "~/Filial/_SiteLayout.cshtml";
    Page.Title = "Guamaré/RN";
    Page.ID = Constantes.id_localizacao;
}

<div class="content-panel long-text shaded">
    @RenderPage("~/partes/Historico.cshtml")
</div>