@using Br.Com.EbenezerVillage.Aplicacao.Auxiliares;

@{
    Layout = "~/Filial/_SiteLayout.cshtml";
    Page.Title = "Localização";
    Page.ID = Constantes.id_localizacao;
}

<div class="content-panel shaded">
    <div class="content-title">
        <h3>Localiza&ccedil;&atilde;o</h3>
    </div>

    <div class="pos-left">
        <iframe width="520" height="370" style="border-style: none; margin: 0 auto; z-index: 2"
                src="https://www.google.com.br/maps?f=d&amp;source=s_d&amp;saddr=-5.10956,-36.324879&amp;daddr=Guamar%C3%A9+-+RN&amp;hl=pt-BR&amp;
                geocode=%3BCaRRjoJCBqAZFaZBsv8dJLrV_SlrnPT5Zsm2BzFL4kDtcT2ElA&amp;sll=-5.109581,-36.324856&amp;
                sspn=0.007662,0.013078&amp;t=h&amp;mra=mift&amp;mrsp=0&amp;sz=17&amp;ie=UTF8&amp;ll=-5.109581,-36.324835&amp;spn=0.007908,0.011137&amp;
                z=16&amp;output=embed">
        </iframe>
        <br />
        <small>
            <a href="https://www.google.com.br/maps?f=d&amp;source=embed&amp;saddr=-5.10956,-36.324879&amp;daddr=Guamar%C3%A9+-+RN&amp;hl=pt-BR&amp;
               geocode=%3BCaRRjoJCBqAZFaZBsv8dJLrV_SlrnPT5Zsm2BzFL4kDtcT2ElA&amp;sll=-5.109581,-36.324856&amp;
               sspn=0.007662,0.013078&amp;t=h&amp;mra=mift&amp;mrsp=0&amp;sz=17&amp;ie=UTF8&amp;ll=-5.109581,-36.324835&amp;spn=0.007908,0.011137&amp;z=16"
               style="text-align:left" target="_blank">Veja o mapa ampliado</a>
        </small>
    </div>

    <p>A <strong>Ebenezer Village</strong> está localizada no centro de Guamaré/RN, a alguns metros dos principais restaurantes e pontos comerciais da cidade, 
        além das unidades de utilidade como hospital, delegacia, guarda municipal, escolas e outros. Além disso, estamos a poucos minutos do Polo Petroquímico 
        e a 170 km da capital do RN, Natal.</p>

    <p>Para ir da capital Natal rumo &agrave; Guamar&eacute;, o acesso &eacute; a BR 406 seguindo at&eacute; o Distrito de Baixa do Meio, onde entra-se &agrave; 
        direita e segue-se a Rodovia RN 227 que termina no munic&iacute;pio de Guamar&eacute;.</p>
		
    <p>Localizada na Regi&atilde;o do Litoral Salineiro, Guamar&eacute; limita-se: ao Norte com o Oceano Atl&acirc;ntico, ao Sul com o munic&iacute;pio de 
        Pedro Avelino, a leste com o munic&iacute;pio de Galinhos e a Oeste com o munic&iacute;pio de Macau.</p>

    <div class="clear"></div>
</div>