@using Br.Com.EbenezerVillage.Aplicacao.Auxiliares;

@{
    Layout = "~/Filial/_SiteLayout.cshtml";
    Page.Title = "A Pousada";
    Page.ID = Constantes.id_pousada;
}

@* GALERIA DE IMAGENS *@
<script src="~/Scripts/gallery-definitions.js" type="text/javascript"></script>

<div class="content-panel shaded">
    <div class="content-title">
        <h3>Ebenezer Village (Filial)</h3>
    </div>

    <div class="left-content" style="width: 420px; padding-right: 30px;">
	    <img class="image-box shaded" src="/Images/Gallery/Filial/pousada01.jpg" alt="Tranquilidade e sofisticação em um só lugar."
             title="Tranquilidade e sofisticação em um só lugar." style="width: 100%;" />
    </div>

    <div class="right-content" style="width: 520px;">
        <p>Localizada no centro de Guamaré/RN, próxima aos principais restaurantes e pontos comerciais da cidade, a <strong>Ebenezer Village Hotel Pousada</strong> 
            dispõe de uma infraestrutura completa para aqueles que buscam lazer em família ou viajam a negócios.</p>
            
        <p>Dispomos de apartamentos novos, confortáveis, completos e com decoração aconchegante - tudo pensado e projetado para que sua estadia seja a mais 
            agradável possível.</p>

        <p>Venha desfrutar de todo o conforto, espaço e segurança que a <strong>Ebenezer Village</strong> tem a oferecer aos seus hóspedes.</p>
    </div>

    <div class="clear"></div>
</div>