@using Br.Com.EbenezerVillage.Aplicacao.Auxiliares;

@{
    Layout = "~/Filial/_SiteLayout.cshtml";
    Page.Title = "Restaurantes";
    Page.ID = Constantes.id_restaurantes;
}

<div class="content-panel shaded">
    <div class="content-title">
        <h3>Restaurante</h3>
    </div>

    <div class="pos-left">
        <img class="image-box shaded" src="~/Images/Gallery/Matriz/restaurante01.jpg" alt="Restaurante Ebenezer Village"
             style="margin-right: 15px; width: 288px;" />
    </div>

    <p>Para começar bem o dia, nossos hóspedes têm à disposição um saboroso e nutritivo Café da Manhã com o que há de melhor na 
        culinária regional.</p>

    <p>Nosso cardápio está repleto de bolos, doces, frios, frutas tropicais e especialidades regionais cuidadosamente selecionadas para 
        lhe proporcionar momentos de muita satisfação.</p>

    <div class="pos-right">
        <img class="image-box shaded" src="~/Images/Gallery/Matriz/restaurante02.jpg" alt="Restaurante Ebenezer Village"
             style="margin-right: 2px; width: 288px;" />
    </div>

    <p>Com capacidade para até 300 pessoas, o restaurante <strong>Ebenezer Village</strong> apresenta um ambiente aconchegante,
        preparado para diferentes tipos de refeição, incluindo almoços, lanches e jantares.</p>
        
    <p>Para quem prefere fazer suas refeições com mais sossego e privacidade, dispomos também de um eficiente Room Service.</p>

    <div class="clear"></div>
</div>